<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="static/meme.css">
<div class='container'>
    <h1>Petulant Meme</h1>
    <p>Storing a list of gifs couldn't be easier</p>
    <div class='main'>
        <form id='submitForm' class='notDisplayed'>
            {% csrf_token %}
            {{ form }}
            <button id='submit'>Submit</button>
        </form>
        <p>Dude, you need to store gifs.</p>
        <button id='addSome'>Add Some!</button>
    </div>
    <div id='gifContainer'>
    {% for url in urls %}
        <div class='gifs'><img src='{{ url.urls}}'></div>
    {% endfor %}
    </div>


</div>
<script type="text/javascript" src='static/meme.js'></script>

